* {
  box-sizing: border-box;
  font-family: 'Roboto';
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.bg-cont {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.main-h1 {
  color: #1e293b;
  font-size: 30px;
  text-align: center;
  padding-bottom: 20px;
}

.ul-cont {
  list-style-type: none;
  padding-left: 0px;
  display: flex;
  align-items: center;
  align-self: center;
  gap: 30px;
  margin-bottom: 30px;
}

.img {
  width: 30%;
  align-self: center;
}
